.events-create
    h1 Create Prize
    section.commands
        ul
    section
        form
            .field
                label(for="#name") Name
                input#name.field-control(value="{{ name }}")
            .field
                button.btn.btn-primary.save-prize-command(type="submit") Save
