header
    nav.navbar.navbar-default
        .container
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    .icon-bar
                    .icon-bar
                    .icon-bar
                a.navbar-brand(href="{{pathFor 'home'}}") Front-End.IL Meetup
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(role='presentation')
                        a.link(href="{{ pathFor 'home' }}") Home
                    li(role='presentation')
                        a.link(href="{{ pathFor 'events.index' }}") Events
                    +if(currentUser)
                        li(role='presentation')
                            a.link(href="{{ pathFor 'prizes.index' }}") Prizes
                ul.nav.navbar-nav.navbar-right
                    +loginButtons
