.events-index
    h1 Prizes
    section.commands.navbar-btn
        ul.nav.nav-pills
            li(role='presentation')
                a(href="{{ pathFor 'prizes.create' }}") Create
    section
        ul
            +each this
                li
                    span #{name}
                    a.link(href="{{ pathFor 'prizes.edit' }}") Edit
