.events-create
    h1 Create Event
    section.commands
        ul
    section
        form
            .field
                label(for="#identifier") Identifier
                input#identifier.field-control(value="{{ identifier }}")
            .field
                label(for="#name") Name
                input#name.field-control(value="{{ name }}")
            .field
                label(for="#date") Date
                input#date.field-control(value="{{ date }}")
            .field
                label(for="#typeformCode") Typeform Code
                input#typeformCode.field-control(value="{{ typeformCode }}")
            .field
                label(for="#typeformNameField") Typeform Name Field
                input#typeformNameField.field-control(value="{{ typeformNameField }}")
            .field
                button.btn.btn-primary.save-event-command(type="submit") Save
